<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AMAccepts</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Optional</key>
		<false/>
		<key>Types</key>
		<array>
			<string>com.apple.applescript.alias-object</string>
		</array>
	</dict>
	<key>AMApplication</key>
	<array>
		<string>Finder</string>
	</array>
	<key>AMCanShowSelectedItemsWhenRun</key>
	<false/>
	<key>AMCanShowWhenRun</key>
	<false/>
	<key>AMCategory</key>
	<string>AMCategoryFilesAndFolders</string>
	<key>AMDefaultParameters</key>
	<dict/>
	<key>AMDescription</key>
	<dict>
		<key>AMDAlert</key>
		<string></string>
		<key>AMDInput</key>
		<string></string>
		<key>AMDNote</key>
		<string></string>
		<key>AMDOptions</key>
		<string></string>
		<key>AMDRelatedActions</key>
		<array>
			<string>com.apple.Automator.Loop</string>
			<string>com.apple.Automator.SpecifiedFiles</string>
			<string>com.apple.Automator.GetSelectedItems</string>
			<string>com.apple.Automator.CopyFiles</string>
			<string>com.apple.Automator.Duplicate_Finder_Items</string>
			<string>com.apple.Automator.FindFinderItems</string>
			<string>com.apple.Automator.FilterFinderItems</string>
			<string>com.apple.Automator.MoveFiles</string>
			<string>com.apple.Automator.SortDiskItems</string>
		</array>
		<key>AMDRequires</key>
		<string></string>
		<key>AMDResult</key>
		<string></string>
		<key>AMDSummary</key>
		<string></string>
	</dict>
	<key>AMIconName</key>
	<string>Finder</string>
	<key>AMKeywords</key>
	<array></array>
	<key>AMName</key>
	<string>Dispense Items Incrementally</string>
	<key>AMProvides</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Types</key>
		<array>
			<string>com.apple.applescript.alias-object</string>
		</array>
	</dict>
	<key>AMRequiredResources</key>
	<array></array>
	<key>AMWarning</key>
	<dict>
		<key>Action</key>
		<string></string>
		<key>ApplyButton</key>
		<string></string>
		<key>IgnoreButton</key>
		<string></string>
		<key>Level</key>
		<integer>0</integer>
		<key>Message</key>
		<string></string>
	</dict>
	<key>CFBundleName</key>
	<string>Dispense Items Incrementally</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>Dispense Items Incrementally version 1.0, Copyright (c) 2007, Nyhthawk Productions.</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.NyhthawkProductions.Automator.DispenseItemsIncrementally</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>NSPrincipalClass</key>
	<string>AMAppleScriptAction</string>
</dict>
</plist>
